<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>输入页</title>
</head>
<body>
<div>
    姓名 <input type="text" id="uname" placeholder="请输入姓名"/>
</div>
<div>
    性别 <input type="text" id="sex" placeholder="男/女"/>
</div>
<div>
    年龄 <input type="text" id="age" />
</div>
<div>
    <input id="submit" type="button" value="确定"/>
</div>

<script src="http://www.jq22.com/jquery/jquery-2.1.1.js"></script>
<script type="text/javascript" src="../static/js/input.js"></script>


</body>

</html>